html, body {
  min-height : 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size : 100%;
  color: #555;

  background: linear-gradient( to bottom, #fafafa, #e8e8e5 );
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width : 100%;
}

svg {
  fill: #555;
}
