.u-paddingDefault {
  padding : 1em;
}

.u-paddingHorizDefault {
  padding-left : 1em;
  padding-right : 1em;
}

.u-marginTopDefault {
  margin-top: 1em;
}

.u-marginTopAuto {
  margin-top: auto;
}

.u-marginBottomDefault {
  margin-bottom : 1em;
}

.u-marginBottomSmall {
  margin-bottom : .5em;
}

.u-flexHorizCenter {
  display: flex;
  justify-content: center;
}
